---
title: Blogs
layout: default
---

<!---------------Container  -------------->

<div class="container">
  <!-- Three columns per row. Each column is a blog type (blogs, ml notes etc.) -->
  {% assign num_rows = site.data.blogs | size | divided_by: 3.0 | ceil %}
  {% assign range = (1..num_rows) %}
  {% for row in range %}
    <div class="row">
      <!-- In each row creating 3 columns -->
      {% for blog_column in site.data.blogs limit: 3 offset: continue %}
        <div class="col-lg-4">
          <div class="list-group one">
            <div class="list-group-item active" style="background-color: rgb(76, 146, 160)">
              <h2 class="list-group-item-heading" align="center" style="color: whitesmoke">
                {{ blog_column.name }}
              </h2>
            </div>
            <!-- In each column we are listing all the relevant posts -->
            {% assign sorted_posts = site.posts | sort: "last_modified_at" | reverse %}

            {% for post in sorted_posts %}
              {% if post.blog_type == blog_column.blog_type %}
                <a href="{{ post.url }}" class="list-group-item">
                  <h4 class="list-group-item-heading"><div class="thick-font">{{ post.title }}</div></h4>
                  <p style="color: gray; font-size: 15px">
                    {{ post.date | date: "%-d %B %Y" }}
                  </p>
                  {{ post.excerpt }}
                </a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
    <br/>
  {% endfor %}
</div>
